.search-bar {
  display: inline-block;
  width: 100%;
  margin: 5px 30px 0px 30px;
  padding-bottom: 5px;
}
.search-title {
  display: inline-block;
  font-size: 25px;
  width: 50%;
}
.search-filter {
  display: inline-block;
  width: 45%;
  text-align: right;
}
